

$my-primary-color: (
  200: #dbdbdb,
  500: #0aa1ae,
  700: #0ffdfd,
  contrast: (
    200: #e9e9e9,
    500: #ffffff,
    700: #eeeeee,
  ),
);

$dark-primary: mat-palette($my-primary-color);
$dark-accent: mat-palette($mat-purple, A700);
$dark-warn: mat-palette($mat-red, A400);
$dark-default: mat-palette($mat-red, A400);

$dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-color($dark-theme);

mat-sidenav {
  background-image: url('https://i.gyazo.com/8937335bd90106351f82d42012341b31.png');
  background-size: cover;
}

mat-expansion-panel {
  background: #dce3e6;
  margin: 3px;
  opacity: 0.7;
}

mat-expansion-panel mat-panel-title {
  opacity: 1;
}

mat-toolbar {
  box-shadow: 0px 0px 5px 3px rgb(173, 172, 172) !important;
  background: #1976d2 !important;
}

app-footer {
  height: 50px !important;
}

.mat-sidenav-content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #e5e8e7;
}

.mat-sidenav-content::-webkit-scrollbar-thumb {
  background: #1976d2;
}

footer {
  text-align: center !important;
  color: #eff5fc !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 15px !important;
  background: #1976d2 !important;
  height: 50px !important;
}

.footer-link {
  color: rgb(236, 236, 236);
  text-decoration: none;
}

//control about the links in the sidebar
.only-link {
  font-weight: bold;
  background: rgb(216, 216, 216);
  opacity: 0.7;
  width: 254px !important;
  margin: 2px;
}

.only-link:hover {
  font-weight: bold;
  background: rgb(204, 204, 204);
  opacity: 0.7;
  margin: 2px;
}

.only-link:focus {
  font-weight: bold;
  background: rgb(216, 216, 216);
  opacity: 0.7;
  width: 254px !important;
  margin: 2px;
}

.sidebar-is-mobile .only-link {
  font-weight: bold;
  background: rgb(216, 216, 216) !important;
  opacity: 0.7;
  width: 254px !important;
  margin: 2px;
}

.sidebar-is-mobile .only-link:hover {
  font-weight: bold;
  background: rgb(204, 204, 204) !important;
  opacity: 0.7;
  margin: 2px;
}

.sidebar-is-mobile .only-link:focus {
  font-weight: bold;
  background: rgb(216, 216, 216) !important;
  opacity: 0.7;
  width: 254px !important;
  margin: 2px;
}

.sub-header {
  color: #ffffff;
}

.header-icon {
  color: #eff5fc !important;
}
