/*!
 * StyleFont: Body Commerce
 * development: Daniel Andres Castillo Pedroza
 * https://material.softtion.com.co
 */

@font-face {
  font-family: "bodycommerce";
  font-style: normal;
  font-weight: 300;
  src: url("Transpass-Light.ttf") format("truetype");
}

@font-face {
  font-family: "bodycommerce";
  font-style: normal;
  font-weight: 400;
  src: url("Transpass-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "bodycommerce";
  font-style: normal;
  font-weight: 500;
  src: url("Transpass-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "bodycommerce";
  font-style: normal;
  font-weight: 600;
  src: url("Transpass-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "bodycommerce";
  font-style: normal;
  font-weight: 700;
  src: url("Transpass-Bold.ttf") format("truetype");
}
