/*!
 * StyleFont: Title Commerce
 * development: Daniel Andres Castillo Pedroza
 * https://material.softtion.com.co
 */
@font-face {
  font-family: "titlecommerce";
  font-style: normal;
  font-weight: 300;
  src: url("Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "titlecommerce";
  font-style: normal;
  font-weight: 400;
  src: url("Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "titlecommerce";
  font-style: normal;
  font-weight: 500;
  src: url("Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "titlecommerce";
  font-style: normal;
  font-weight: 600;
  src: url("Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "titlecommerce";
  font-style: normal;
  font-weight: 700;
  src: url("Poppins-Bold.ttf") format("truetype");
}
