table {
  width: 100%;
}

/* filter controls */
.search-div {
  margin-left: 10px;
}
.search-form-field {
  width: 15%;
  margin-left: 10px;
}
.search-form-field div.mat-form-field-underline {
  display: none;
}
.search-form-field div.mat-form-field-infix {
  border-top: 0px;
}
.search-form-field div.mat-form-field-wrapper {
  padding-bottom: 0px;
}
.search-form-field div.mat-form-field-suffix button {
  height: 25px;
  width: 25px;
}
.render-column {
  display: none !important;
}

.render-btn {
  display: block !important;
}
.first-column {
  padding-left: 20px !important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.br-hd {
  display: none;
}

@media (min-width: 0px) and (max-width: 409px) {
  .input-low-res {
    width: 150px;
  }
  .br-hd {
    display: block;
  }
}
@media (min-width: 410px) and (max-width: 509px) {
  .input-low-res {
    width: 100px;
  }
}
@media (min-width: 510px) and (max-width: 570px) {
  .input-low-res {
    width: 150px;
  }
}
