/*
default class for the sidebar, for info about this sidebar visit this page:
https://stackblitz.com/angular/byoqopbbdlb?file=src%2Fapp%2Fsidenav-responsive-example.css
*/

mat-sidenav {
  width: 262px;
  border: 0px;
}

mat-toolbar {
  display: flex !important;
  position: absolute;
  position: fixed;
  top: 0;
  z-index: 100;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex: 1 0 auto;
}

.sidebar-is-mobile {
  margin-top: -60px;
}

.sidebar-is-mobile mat-sidenav {
  margin-top: -60px;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;
}
