.gcm-modal {
  &__top-container {
    display: flex;
    justify-content: flex-end;
    margin: -20px -20px;
  }
  &__title,
  &__content {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  &__title {
    font-size: 20px;
  }
  &__content {
    font-size: 14px;
  }
  &__buttons {
    display: flex;
    & button {
      font-weight: bolder !important;
      text-transform: uppercase;
    }
    &.gcm-modal-one {
      justify-content: end;
    }
    &.gcm-modal-two {
      justify-content: space-between;
    }
  }
}
